extends layout

block content
  .jumbotron
    h1 여행은 살아보는 거야
    h3 전 세계의 독특한 숙소를 예약하고 현지인의 삶을 살아보세요
    hr
    form.form-search(action='/book', method='POST')
      h4 에어비앤비와 함께 새로운 여행을 시작하세요
      label(for='locate') 도시
      input(type='text', id='locate', size=20, placeholder='도시')
      label(for='date') 날짜
      input(type='text', id='checkin', size=20, placeholder='체크인')
      input(type='text', id='checkout', size=20, placeholder='체크아웃')
      label(for='people') 인원
      input(type='text', id='people', size=20, placeholder='인원수')
      button.btn.btn-default 숙소검색

    

    
